@import url(/node_modules/@fontsource/fraunces/700.css);
@import url(/node_modules/@fontsource/montserrat/500.css);
@import url(/node_modules/@fontsource/montserrat/700.css);

$color-cyan: hsl(158, 36%, 37%);
$color-cream: hsl(30, 38%, 92%);

$color-neutral-dark-blue: hsl(212, 21%, 14%);
$color-neutral-grayish-blue: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

$font-size-paragraph: 14px;

$font-paragraph: Montserrat, sans-serif;
$font-titles: Fraunces, serif;
